
  /* 내용 */
.subContainer .navigator_bar {
    width: 100%;
    height: 50px;
    
}

.subContainer .contents_area{
    display:flex;
    width: 100%;
    height: auto;
    padding: 60px 0;
}

.subContainer .contents_area .left_area{
    width: 230px;
    height: 200px;
    float: left;
}

.subContainer .contents_area #contents{
    width: 900px;
    height: auto;
    float: right;
}

.subContainer .contents_area #contents .title_wrap {
    width: 100%;
    height: 45px;
    font-size: 40px;
    margin-bottom: 40px;
}

/* 인사말 */
.subContainer .contents_area .text_bg {
    margin-bottom: 40px;
    font-size: 24px;
    color: #333;

    display:flex;
    text-align: center;
    justify-content: center;

    position: relative;
    line-height: 2rem;
}

.subContainer .contents_area .text_bg .welcome {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}

.desc {
    margin-top: 30px;
    line-height: 1.5rem;
}

.text_captain {
    float: right;
    font-size: 24px;
    font-weight: 700;
    margin-top: 50px;
    font-family: 'noto-medium';
    line-height: 26px;
}

#footer {
    width:100%;
    height: 160px;
    background-color: #3b3c40;
}

/* 교수소개 */
.professor_info{
    width: 100%;
    height: 410px;
    margin-bottom: 20px;
    /* background-color: antiquewhite; */
}

.professor_info .info_table_area{
    float: right;
    width: 700px;
    height: 378px;
    right: 0%;
}

.professor_info .professor_pic_area {
    float: left;
    width: 160px;
    height: 300px;
}

.professor_info .professor_pic_area .btn_more{
    width: 160px;
    height: 44px;
    margin-top: 20px;
    padding: 0px;
    color: #666;
    cursor: pointer;
    border: 3px solid #60609f;
    border-radius: 10px;
    display:flex;
    align-items:center;
    justify-content: center;
}

.professor_table1 {
    width: 100%;
    height: 100%;
    border-top: solid 3px #60609f;
    
    border-collapse: collapse;
    background-color: #f6f6f7;
}

th {
    padding: 5px;
    border: solid 1px #dddddf;
    vertical-align: middle;
}

.professor_table1 .txt_1 {
    background-color: white;
    text-align: left;
}

/* 출강교수 */
.professor_info2{
    width: 100%;
    height: 230px;
    margin-bottom: 20px;
}

.professor_info2 .info_table_area2 {
    width: 100%;
    height: 200px;
}

/* 학과소개*/


/* 학과연혁 */
.history_box{
    width: 100%;
    height: 640px;
    margin-bottom: 20px;
    background-color: antiquewhite;
}

/* 졸업 후 진로*/
/* height 직접 조절해야 합니다.*/
/* */
#g_content_cover {
    width: 910px;
    height: 100%;
    float: right;
}

.g_contents:first-child {
    width: 910px;
    height: 285px;
}

.g_contents:nth-child(2) {
    width: 910px;
    height: 340px; /*auto*/
    margin-top: 30px;
}

.g_contents:nth-child(3) {
    width: 910px;
    height: 455px; /*auto*/
    margin-top: 30px;
}

.g_contents:nth-child(4) {
    width: 910px;
    height: 580px; /*auto*/
    margin-top: 30px;
}

.g_fdot {
    width: 30px;
    height: 285px; /*auto*/
    float: left;    
}

.g_sdot {
    width: 30px;
    height: 360px; /*auto*/
    float: left;
}

.g_tdot {
    width: 30px;
    height: 455px; /*auto*/
    float: left;
}

.g_ldot {
    width: 30px;
    height: 580px; /*auto*/
    float: left;
}

.desc:first-child {
    margin-top: 18px;
    font-size: 15px;
    color: #333;
    line-height: 24px;
}

.desc:nth-child(n+2) {
    margin-top: 3px;
    font-size: 15px;
    color: #333;
    line-height: 24px;
}

.dot {
    width: 9px;
    height: 9px;
    margin: 5px;
    border:4px solid #60609f;
    border-radius: 50%;
    float: left;
    background-color: white;
}
