header {
    height: 330px;
    width: 100%;
}

a {
    color: #3b3c40;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
}

header .fnctWrap {
    width: 100%;
    height: 330px;
    background-image: url(https://www.sungshin.ac.kr/sites/ce/masterSkin/ce_sub/images/common/img_visual_1.jpg);
}

/* 해더: 탑 */
header .fnctWrap .top {
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
}

.inner {
    width: 80%;
    float: left;
    margin: 0 160px;
}

.material-symbols-outlined {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

header .fnctWrap .btn_direct {
    width: 335px;
    height: 40px;
    display: inline;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    padding:20px;
}

.btn_direct_child {
    float: left;
}

header .top_link {
    border-right: 1px solid #d4d4d4;
    color: #fff;
}

header .fnctWrap #ico_arrow{
    border-left: 1px solid #d4d4d4;
    margin: auto;
}

header .fnctWrap .globalUI {
    float: right;
    display: inline;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    border-right: 1px solid #d4d4d4;
    color: #fff;
}

/* 헤더: 배너 */
header .fnctWrap .header_bg {
    height: 90px;
    width: 100%;
    background-color: white;
}

header .gnb_bg {
    width: 100%;
    height: 90px;
}

header .inner .logo {
    width: 300px;
    padding: 22px 0;
    float: left;
    
}

header .header_bg .gnb_bg .header_menu {
    height: 90px;
    float: right;
}

header .header_bg .gnb_bg .header_bg .menuUItop {
    width: 100%;
}

.menuTop_div {
    width: 900px;
    height: 90px;
}

.menuTop_ul{
    height: 90px;
    text-align: center;
    position: relative;
}

.menuTop_list{
    width: 20%;
    height: 30px;
    padding-top: 37px;
    padding-bottom: 23px;
    position: relative;

    float: left;

    font-size: 18px;
    font-weight:800;
}

/* 해더: 페이지 이름 */
header .fnctWrap .page_name {
    width: 100%;
    height: 200px;
    font-size: 50px;
    color: #fff;
    display : flex;
    justify-content: center;
    align-items : center;

    font-weight: 600;
}

/* 헤더: 호버 */
.hide_menu {
    width: 100%;
    height: 260px;
    position: absolute;
    top: 90px;
    background-color:white;
    display: none;
    border: 1px solid #afb4b8;
}

.menuTop_ul:hover .hide_menu{
    display: block;
}

.hide_menu .hide_menu_ul .hide_menu_list .hide_factor {
    width: 180px;
    height: 52px;
    padding: 0;
    color: #5f6468;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
}

.hide_factor_text{
    padding: 15px 10px;
}

.hide_menu .hide_menu_ul .hide_menu_list .hide_factor:hover {
    color: #fff;
    background-color:#5f6468;
    font-weight: bold;
}

.hide_hide_factor {
    width: 100px;
    height: 125px;
    background-color: #60609f;
    display: none;
}

.hide_factor:hover .hide_hide_factor {
    display: block;
}