        .inner{
            width: 1200px;
            margin: 0 auto;
            position: relative;
            height: 50px;
        }
        body, p, div, ul, li, dl, dd, ol, fieldset, textarea, input, select, table, td, address, cite, a, em, span {
            font-family: 'noto-light', dotum, Arial, sans-serif;
            box-sizing: border-box;
        }
        * {
            margin: 0;
            padding: 0;
        }
        div {
            display: block;
        }
        body {
            font-size: 12px;
        }
        #subContainer .inner:after {
            content: "";
            display: block;
            clear: both;
        }
        #loacation_navi {
            padding-left: 46px;
            position: absolute;
            float: left;
        }
        #loacation_navi .home {
            width: 46px;
            height: 100%;
            border-left: 1px solid #d5d5d5;
            background: url('https://www.sungshin.ac.kr/sites/knowledge_02_tem05/masterSkin/knowledge_02_tem05_sub/images/common/ico_home.png') 50% no-repeat;
            position: absolute;
            top: 0;
            left: 0;
        }
        a:link, a:active, a:visited {
            color: #666;
        }
        a {
            text-decoration: none;
        }
        a, button, input {
            border: 0 none;
            outline: none;
        }
        .ir {
            position: absolute;
            left: -9999px;
            top: -9999px;
            font-size: 0;
            line-height: 0;
            height: 0;
            overflow: hidden;
        }
        .ir, .inner-ir>a {
            display: block;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
        }
        #subContainer .inner:after {
            content: "";
            display: block;
            clear: both;
        }
        .navigator_bar {
            position: relative;
            z-index: 10;
            margin-top: 332px;
            border-bottom: 1px solid #d5d5d5;
        }
        #loacation_navi .history_list{
            margin-left: -1px;
            float: left;
            position: relative;
        }
        #loacation_navi .history_list:first-child {
            margin-left: 0;
        }
        #loacation_navi .history_list {
            height: 50px;
            min-width: 180px;
            font-size: 13px;
            color: #333;
            display: block;
            position: relative;
            border-right: 1px solid #d5d5d5;
            border-left: 1px solid #d5d5d5;
        }
        #loacation_navi .history_list:after {
            content: "";
            display: block;
            width: 12px;
            height: 8px;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: 12px auto;
            margin-top: -4px;
            position: absolute;
            top: 35%;
            right: 8px;
        }
        #loacation_navi .history_list .view {
            top: 16px;
            left: 10px;
            position: absolute;
        }
        #loacation_navi .dep_list {
            width: 182px;
            padding: 10px;
            position: absolute;
            top: 51px;
            left: -1px;
            border-right: 1px solid #d5d5d5;
            border-bottom: 1px solid #cdcdcd;
            border-left: 1px solid #d5d5d5;
            background-color: #fff;
        }
        
        #loacation_navi .dep_list li:first-child{
            margin-top: 0;
        }
        #loacation_navi .dep_list li a{
            color: #333;
            font-size: 12px;
        }
        #loacation_navi .dep_list li{
            content: "";
            margin-top: 10px;
            display: block;
            clear: both;
        }
        ul{
            list-style: none;
        }
        details summary{
            display: block;
            width: 182px;
        }
        details {
            background: url('https://www.sungshin.ac.kr/sites/knowledge_02_tem05/masterSkin/knowledge_02_tem05_sub/images/common/ico_history_down.png')90% no-repeat;
            background-size: 7%;
        }