body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#bxViewport {
    width: 100%;
    height: 605px;
    overflow: hidden;
    position: relative;
}

#bxControl {
    width: 100%;
    bottom: 70px;
    left: 0;
    position: absolute;
    z-index: 1;
}

#bxPager {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
}

.bxPager_item {
    float: left;
}

#bxContl_auto {
    display: inline-block;
}

#mainPic2 {
    width: 100%;
    height: 650px;
    overflow: hidden;
    position: relative;
}

#text_wrap1 {
    height: auto;
    width: 100%;
    top: 210px;
    z-index: 1;
    position: absolute;
}

#text_wrap2 {
    height: 100%;
    width: 1200px;
    margin: 0px auto;
    position: relative;
}

#visual_text {
    width: 800px;
    height: 100%;
    margin: 0px;

    text-align: justify;
    line-height: 1.5;
}

#visual_text > h2 {
    color: black;
    line-height: 1.2;
    font-size: 45px;
    font-weight: normal;
}

#p {
    color: black;
    font-size: 14px;
    margin-top: 40px;
}

#multipleDiv {
    position: relative;
    z-index: 1;
}

#multipleContentDiv {
    width: 1200px;
    height: 100%;

    margin: 50px auto;

    position: relative;
}

#info {
    background-color: rgb(64, 69, 74);
    width: 600px;
    height: 280px;

    float: left;
    z-index: 1001; /*why?*/
    position: relative;
}

input {
    font-size: 30px;
    font-weight: bold;
    color: white;
    background: none;
    border: none;
    float: left;
    position: relative;
}

#info_text {
    height: 230px;
    padding: 25px;
    line-height: 2;

    position: relative;
}

#infoTextDetail {
    display: block;
    width: 100%;
    position: absolute;
    top: 80px;
}

.itd {
    position: relative;
    line-height: 2;
}

li > a { text-decoration: none; }

strong:hover {color: rgb(110, 110, 184);}
strong {
    color: #cfd0d2;
    display: block;
    font-size: 15px;

    text-overflow: ellipsis;
}

.data {
    color: #cfd0d2;
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 1.1em;
}

.itdMore {
    display: block;

    position: absolute;
    color: white;
    top: 40px;
    right: 10px;
    background: url(https://www.sungshin.ac.kr/sites/ce/fnct/recentBbs/ce_bbs-type02/images/m_bbs_more.png) left top no-repeat;
    width: 24px;
    height: 24px;
}

.menu1 {
    position: relative;
    width: 600px;
    height: 140px;
}

.link_list_area ul li {

    float: left;
    width: 150px;
    height: 140px;
}

.link_list_area ul li a {
    padding: 15px 10px;
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    display: block;
}

.link_list_area ul li .pic {
    width: 80px;
    height: 80px;
    margin: 0 auto 5px;
    border-radius: 50%;
}

.link_list_area ul li:nth-child(1) {
    background-color: #595997;
}

.link_list_area ul li:nth-child(2) {
    background-color: #3d4042;
}

.link_list_area ul li:nth-child(3) {
    background-color: rgb(233,233,233);
}

.link_list_area ul li:nth-child(4) {
    background-color: #64747f;
}

#menu2 {
    width: 600px;
    height: 212px; /*auto?*/
    margin: -33px 0px 0px;

    overflow: hidden;

    position: relative;
}

.fnctWrap {
    height: 100%;

    position: relative;
    line-height: 2;
}

.quick_link_area { padding: 20px 0;}

.quick_link_area ul li {
    position: relative;
    float: left;
    width: 20%;
    height: 112px;
    text-align: center;
}

.quick_link_area ul li a {
    color: #5e6c80;
    font-size: 16px;
    line-height: 20px;
    display: block;
}

.quick_link_area ul li .picSet {
    margin-bottom: 10px;
}

.picSet img {
    vertical-align: top; /*why*/
}